<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Favorite Books</title>
</head>
<body>
    <a href="../index.html">Home</a>
    <h1>Best books ever(in my opinion)</h1>
    <ol>
        <li>
            <strong>The alchemist</strong>         
            <img src="../images/book 1.jpg" alt="">
            <p>
                The Alchemist (Portuguese: O Alquimista) is a novel by Brazilian author Paulo Coelho which was first published in 1988.
                Originally written in Portuguese, it became a widely translated international bestseller.[1][2] An allegorical novel,
                The Alchemist follows a young Andalusian shepherd in his journey to the pyramids of Egypt, after having a recurring 
                dream of finding a treasure there.<strong><a href="https://en.wikipedia.org/wiki/The_Alchemist_(novel)" target="_blank">read more..</a></strong>
            </p>
        </li>
        <li>
            <strong>the untethered soul</strong> 
        </li>
            <img src="../images/book 2.jpg" alt="">
            <p>The Untethered Soul talks about becoming free from limitations, soaring beyond your boundaries, finding inner peace and freedom, and learning to navigate your thoughts and emotions. We were perhaps a little out of our comfort zone on this one, but keep your heart open and don’t close over on us – the pa
                th to unconditional happiness is here. treasure there.</p>
                
     </ol>
</body>
</html>
