<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="../index.html">Home</a>
    <h1>Best movies in 2023(in my opinion)</h1>
    <ol>
        <li>
            <strong>The Covenant</strong> 
        </li>
            <img src="../images/movie 1.jpg" alt="">
            <p>The Covenant keeps the attention on the bond and relationship between the two men, 
                and portrays it as a show of humanity amidst the barbaric.</p>
        <li>
            <strong>Spider-Man: Across the Spider-Verse</strong> 
        </li>
            <img src="../images/spider-man.jpg" alt="">
            <p>Spider-Man: Across the Spider-Verse features gorgeous animation and non-stop thrills with a
                 killer ending that makes me excited for the next film!</p>
            
       
     </ol>
</body>
</html>